#$ vendor/bin/phpstan analyze

parameters:
    level: 8 # because 'Cannot cast mixed to ...' errors
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - inc/
        - src/
        - label-printing.php
    excludePaths:
        analyseAndScan:
            - build/
            - node_modules/
        analyse:
            - vendor/

