/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * .wp-block-figuren-theater-label-printing {}
 */

// Disable WordPress' root padding
body.is-label-printing {
	--wp--style--root--padding-left: 0 !important;
	--wp--style--root--padding-right: 0 !important;

	* {
		box-shadow: none !important;
	}
}

.wp-block-group.alignwide[class*="is-style-label-overview-"] {
	max-width: var(--label-printing-doc-width) !important;
	max-height: var(--label-printing-doc-height) !important;
	overflow: hidden;

	> .wp-block-group > * {
		overflow: hidden;
		max-height: var(--label-printing-height) !important;
		max-width: var(--label-printing-width) !important;

		// padding: 20px; // safety disatnce
		padding: calc(var(--label-printing-height)*.1) calc(var(--label-printing-width)*.1); // safety disatnce
		box-sizing: border-box;

	}
}

@media print {
	// html,
	body.is-label-printing,
	.is-label-printing .wp-site-blocks {
		margin: 0 !important;
		padding: 0 !important;
	}

	.wp-block-group.alignwide[class*="is-style-label-overview-"] {
		page-break-before: always;
		page-break-after: always;
		padding: var(--label-printing-a4-border-tb, 0) var(--label-printing-a4-border-lr, 0) !important;

		/* 		// for debug
		> .wp-block-group > * {
			outline: 1px dashed var(--wp--preset--color--foreground, rgb(128, 128, 128));
		} */
	}
}

@media screen {

	.wp-block-group.alignwide[class*="is-style-label-overview-"] {

		box-shadow: 0.1em 0.1em 0.3em var(--wp--preset--color--primary, rgb(128, 128, 128));
		margin-top: 5vw !important;
		margin-bottom: 5vw !important;

		> .wp-block-group > * {
			outline: 1px dashed var(--wp--preset--color--foreground, rgb(128, 128, 128));
		}
	}
}

